@model IEnumerable<StoryConnect.Models.Autores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenPerfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenPerfil)
            </td>
            <td>
                <a asp-controller="Autores" asp-action="Details" asp-route-idautor="@item.Id">
                    Detalles
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
